
{% extends 'base.html' %}

{% block title %}Update{% endblock%}

{% block content %}
    <h6 class="text-muted" >Update User: </h6>
    <form action="/update/{{user.id}}" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" value="{{user.email}}" class="form-control" id="email" name="email"  >
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" value="{{user.username}}" class="form-control" id="username" name="username" >
        </div>
        <button type="submit" class="btn btn-secondary">Update</button>
    </form>
{% endblock%}